EMAIL='{{ .Env.EMAIL }}'
PASS='{{ .Env.PASS }}'
DOWNLOADDIR={{ default .Env.DOWNLOADDIR "/plexupdate" }}
AUTOINSTALL={{ default .Env.AUTOINSTALL "yes" }}
AUTODELETE={{ default .Env.AUTODELETE "yes" }}
AUTOUPDATE=yes
AUTOSTART=no
{{ file "/root/.plexupdate" }}